// Colours
$color-primary: rgb(127, 70, 127);
$color-background-light: #f9f9f9;
$color-text-light: #434343;
$color-surface-light: #fff;
$color-error: rgb(180, 43, 43);
$color-overlay: rgba(255, 255, 255, 0.655);
$color-border-light: #c6c6c684;

// Colours Dark theme
$color-background-dark: #242424;
$color-surface-dark: #3e3e3e;
$color-text-dark: #e2e2e2;
$color-link-dark: azure;
$color-overlay-dark: rgba(0, 0, 0, 0.408);
$color-border-dark: #666666;

// Radius
$rounded-sm: 0.25rem;
$rounded: 0.5rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Typography
$font-main: Monospace;

// Borders & Shadows
$shadow: 0 0 1rem #1212121f;

@mixin section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--surface-color);
  border-radius: $rounded-sm;
  padding: 2rem;
  border: 1px solid var(--border-color);
  box-shadow: $shadow;
}
